*{
	
	margin: 0;
	padding: 0;
	/*background-image:;*/
}

/*------body------*/
body{
	
	background: linear-gradient(#D375CB, #4A1B56);
	
}
/*------------header------------*/

header{
	
	border-bottom: 3px solid black;
	border-radius: 30px;
	
}

/*header:hover{
	
	background: #C8A2C8;
	
}*/
header nav{
	
	padding: 10px;
	
}

header nav ul{
	
	display: flex;
	justify-content:space-around;
	
}
header nav ul li{
	
	padding: 5px;
	list-style-type: none;
	
}
header nav ul li a{
	
	text-decoration: none;
	
}

header nav ul li a:hover{
	
	color: #FFC1F8;
	
}

/*------------section------------*/

section #esquerda{

	float: left;
	width: 45%;

}
section #esquerda img{

	float: left;
	width: 80%;
	position: relative;
	top: 60px;
	
}

section #direita p{
	
	float: right;
	width: 50%;
	color: white;
	font-size: 50px;
	
}

section #produtos{
	
	display: flex;
}